/* Layout */

body {
    margin: 0px;
}

#page {
    display: flex;
    flex-direction: column;

    max-width: 1200px;
    min-height: 100vh;

    margin: 0px auto;
}

footer {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
}


/* Look */

body {
    background-color: whitesmoke;

    font-family: Roboto, sans-serif;
}

#page {
    background-color: white;
}

header, footer {
    background-color: darkslateblue;
    color: white;
}

header {
    padding: 5px 15px;

    font-weight: bolder;
}

footer {
    padding: 10px 15px;

    font-size: smaller;
}

footer :any-link {
    text-decoration: none;
    color: white;
}

main {
    padding: 10px 15px;

    color: #333;
}
